:host {
    input {
        background: var(--color-grey-light);
        border-radius: 4px;
        height: 40px;
        padding-left: 1rem;
        width: 100%;

        &:focus-visible {
            outline: none;
        }
    }

    .dropdown {
        position: relative;
        display: inline-block;
        width: 100%;

        .expand-icon {
            top: 20%;
            right: 20px;
        }
    }
}