<div class="add-lessons-form" [formGroup]="form">
    <ng-container formArrayName="students">
        <ng-container *ngFor="let studentForm of students.controls; let i = index">
            <form (submit)="onSubmit()" class="mb-6" [formGroupName]="i">
                <div class="grid grid-cols-2 gap-x-2 gap-y-6">
                    <div>
                        <p class="text-sm mb-3">Email <span class="text-danger">*</span></p>
                        <input id="email{{i}}" type="text" formControlName="email" placeholder="Type" class="custom-input text-sm"/>
                    </div>
                    <div>
                        <p class="text-sm mb-3">Fee (optional)</p>
                        <input id="fee{{i}}" type="text" formControlName="fee" placeholder="Type" class="custom-input text-sm"/>
                    </div>
                    <div class="col-span-2">
                        <p class="text-sm mb-3">Course</p>
                        <div class="dropdown">
                            <input type="text"
                                   matInput
                                   placeholder="Search for a course"
                                   formControlName="course"
                                   class="text-sm cursor-pointer"
                                   [matAutocomplete]="auto"
                                   id="course{{i}}"
                            >
                            <mat-icon *ngIf="auto.isOpen" class="absolute expand-icon cursor-pointer" aria-hidden="false"
                                      aria-label="Expand less icon" fontIcon="expand_less"></mat-icon>
                            <mat-icon *ngIf="!auto.isOpen" class="absolute expand-icon cursor-pointer" aria-hidden="false"
                                      aria-label="Expand more icon" fontIcon="expand_more"></mat-icon>
                        </div>
                        <mat-autocomplete [displayWith]="displayCourse" #auto="matAutocomplete">
                            <mat-option class="text-sm" *ngFor="let course of filteredCourses[i] | async" [value]="course">
                                {{ course.name }}
                            </mat-option>
                        </mat-autocomplete>
                    </div>
                    <div class="col-span-2">
                        <p class="text-sm mb-3">Batch</p>
                        <div class="flex items-center">
                            <div class="dropdown">
                                <input type="text"
                                       matInput
                                       placeholder="Search for a batch"
                                       formControlName="batch"
                                       class="text-sm cursor-pointer"
                                       [matAutocomplete]="batchAuto"
                                       id="batch{{i}}"
                                >
                                <mat-icon *ngIf="batchAuto.isOpen" class="absolute expand-icon cursor-pointer" aria-hidden="false"
                                          aria-label="Expand less icon" fontIcon="expand_less"></mat-icon>
                                <mat-icon *ngIf="!batchAuto.isOpen" class="absolute expand-icon cursor-pointer" aria-hidden="false"
                                          aria-label="Expand more icon" fontIcon="expand_more"></mat-icon>
                            </div>
                            <mat-icon matRipple (click)="this.removeStudent(i)" class="ml-3 cursor-pointer" id="remove{{i}}" aria-hidden="false"
                                      aria-label="Close icon" fontIcon="close"></mat-icon>
                        </div>
                        <mat-autocomplete [displayWith]="displayBatch" #batchAuto="matAutocomplete">
                            <mat-option class="text-sm" *ngFor="let batch of filteredBatches[i] | async" [value]="batch">
                                {{ batch.name }}
                            </mat-option>
                        </mat-autocomplete>
                    </div>
                </div>
            </form>
        </ng-container>
    </ng-container>

    <button matRipple class="mt-4 flex items-center" id="add-another-button" (click)="addStudent()">
        <mat-icon class="mr-1" aria-hidden="false"
                  aria-label="Add icon" fontIcon="add"></mat-icon>
        <span class="mt-1">Add</span>
    </button>
</div>