:host {
    .drawer-container {
        .drawer {
            box-shadow: 3px 1px 5px -2px rgba(0, 0, 0, 0.10);
            -webkit-box-shadow: 3px 1px 5px -2px rgba(0, 0, 0, 0.10);
            -moz-box-shadow: 3px 1px 5px -2px rgba(0, 0, 0, 0.10);

            .menu-container {
                .card {
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

                    &.active {
                        background: var(--color-primary);
                        color: var(--color-blank);
                    }

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}