<div style="height: 100%">
    <mat-drawer-container class="h-full drawer-container">
        <mat-drawer class="drawer bg-blank h-full border-none p-4 {{ currentScreenSize !== 0 ? 'w-1/6' : 'w-1/4' }}"
                    mode="side" opened>
            <img class="w-3/4" src="https://talentlabs.org/_nuxt/img/talentlabs-logo.da369af.webp"/>
            <div class="mt-12 mb-3">
                <p class="text-xs text-grey-500 font-semibold uppercase">Users</p>
            </div>
            <div class="menu-container">
                <mat-card rippleOnHover
                          class="card p-3 border border-grey-200 active flex items-center {{ currentScreenSize === 0 ? 'justify-center' : ''}} rounded-lg w-full">
                    <mat-icon class="md:mr-2" aria-hidden="false"
                              aria-label="Group icon" fontIcon="group"></mat-icon>
                    <p *ngIf="currentScreenSize !== 0" class="mb-0 text-sm font-medium mt-1">Students</p>
                </mat-card>
                <mat-card rippleOnHover
                          class="card mt-2 p-3 border border-grey-200 flex items-center {{ currentScreenSize === 0 ? 'justify-center' : ''}} rounded-lg w-full text-grey-500">
                    <mat-icon class="md:mr-2" aria-hidden="false" aria-label="Users icon" fontIcon="person"></mat-icon>
                    <p *ngIf="currentScreenSize !== 0" class="font-medium text-sm mb-0 mt-1">Users</p>
                </mat-card>
            </div>
            <div class="mt-12 mb-3">
                <p class="text-xs text-grey-500 font-semibold uppercase">Configs</p>
            </div>
            <div class="menu-container">
                <mat-card rippleOnHover
                          class="card p-3 border border-grey-200 flex items-center {{ currentScreenSize === 0 ? 'justify-center' : ''}} rounded-lg w-full text-grey-500">
                    <mat-icon class="md:mr-2" aria-hidden="false" aria-label="Tv icon" fontIcon="tv"></mat-icon>
                    <p *ngIf="currentScreenSize !== 0" class="font-medium text-sm mb-0 mt-1">Courses</p>
                </mat-card>
                <mat-card rippleOnHover
                          class="card mt-2 p-3 border border-grey-200 flex items-center {{ currentScreenSize === 0 ? 'justify-center' : ''}} rounded-lg w-full text-grey-500">
                    <mat-icon class="md:mr-2" aria-hidden="false" aria-label="Work icon" fontIcon="work"></mat-icon>
                    <p *ngIf="currentScreenSize !== 0" class="font-medium text-sm mb-0 mt-1">Jobs</p>
                </mat-card>
            </div>
        </mat-drawer>
        <mat-drawer-content class="drawer-content bg-grey-200">
            <div class="p-12 md:p-24 lg:p-24">
                <router-outlet></router-outlet>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>