<div class="md:flex md:items-center md:justify-between w-full">
    <h2 class="text-4xl font-bold text-grey-dark">Students</h2>
    <button matRipple class="bg-primary text-blank font-semibold p-3 rounded-lg mt-1 md:mt-0 add-student-button" (click)="openDialog()">+ Add Student</button>
</div>

<div class="mt-12">
    <ng-container *ngIf="students$ | async; let students">
        <div class="w-full">
            <ng-container *ngFor="let student of students">
                <div class="mb-3">
                    <student-card [student]="student"></student-card>
                </div>
            </ng-container>
        </div>
    </ng-container>
</div>