<div class="card w-full p-6 border border-gray-200 bg-blank rounded-lg">
    <div class="grid grid-cols-1 lg:grid-cols-4 gap-3">
        <div>
            <p class="text-xs mb-1 font-semibold text-grey-500">Email</p>
            <p class="text-base m-0 font-normal text-grey-dark">{{ student?.email }}</p>
        </div>
        <div>
            <p class="text-xs mb-1 font-semibold text-grey-500">Fee</p>
            <p class="text-base m-0 font-normal text-grey-dark">{{ student?.fee ? student?.fee + ' HKD' : 'No data available' }}</p>
        </div>
        <div>
            <p class="text-xs mb-1 font-semibold text-grey-500">Course</p>
            <p class="text-base m-0 font-normal text-grey-dark">{{ student?.course?.name }}</p>
        </div>
        <div>
            <p class="text-xs mb-1 font-semibold text-grey-500">Batch</p>
            <p class="text-base m-0 font-normal text-grey-dark">{{ student?.batch?.name }}</p>
        </div>
    </div>

</div>