<div class="relative w-full h-full">
    <div class="absolute rounded-full bg-grey-light cursor-pointer p-2 font-bold text-base flex items-center justify-center w-8 h-8 right-0 ">
        X
    </div>
    <div class="pt-12 px-4 md:px-8">
        <div class="flex items-center justify-center flex-col">
            <h2 class="text-lg font-bold text-black">Enroll Student</h2>
            <p class="text-base font-normal text-black mt-3">We will send email to them.</p>
        </div>
        <hr class="h-1 bg-grey-light border-none my-6"/>
    </div>
    <div class="px-4 md:px-8 h-1/2 overflow-auto">
        <student-form #formTpl [courses]="courses$ | async" [batches]="batches$ | async"></student-form>
    </div>
    <div class="px-8">
        <hr class="h-1 bg-grey-light border-none mt-6 md:mb-10 mb-6"/>
        <div class="flex items-center md:flex-row flex-col">
            <button matRipple class="flex items-center rounded-lg" (click)="tooltip.toggle()" #tooltip="matTooltip"
                    matTooltip="Successfully copied!"
                    matTooltipTouchGestures="off"
                    (mouseenter)="$event.stopImmediatePropagation()"
                    (mouseleave)="$event.stopImmediatePropagation()"
                    matTooltipPosition="below">
                <mat-icon class="mr-1" aria-hidden="false"
                          aria-label="Copy icon" fontIcon="content_copy"></mat-icon>
                <span class="mt-1 text-sm">Copy invited link</span>
            </button>
            <div class="md:ml-auto flex items-center justify-between md:justify-start mt-4 md:mt-0">
                <button matRipple class="bg-grey-light text-primary font-semibold p-3 md:w-36 w-25 rounded-lg ml-auto" (click)="onNoClick()">取消</button>
                <button matRipple class="bg-primary text-blank font-semibold p-3 md:w-36 w-25 rounded-lg ml-2 disabled:opacity-75" id="submit-button" (click)="submitForm()" [disabled]="formTpl.form.status !== 'VALID'">送出</button>
            </div>
        </div>
    </div>
</div>
