:root {
    /** blank **/
    --color-blank: #ffffff;
    .color-blank {
        --color-base: var(--color-blank);
    }

    /** primary **/
    --color-primary: #2181ff;
    .color-primary {
        --color-base: var(--color-primary);
    }

    /** secondary **/
    --color-secondary: #00A1CC;
    .color-secondary {
        --color-base: var(--color-secondary);
    }

    /** grey **/
    --color-grey-100: #F8F8F8;
    .color-grey-100 {
        --color-base: var(--color-grey-100);
    }

    --color-grey-200: #f4f9fd;
    .color-grey-200 {
        --color-base: var(--color-grey-200);
    }

    --color-grey-light: #f1f2f2;
    .color-grey-light {
        --color-base: var(--color-grey-light);
    }

    .color-grey-300 {
        --color-base: var(--color-grey-light);
    }

    --color-grey-400: #9CA2AE;
    .color-grey-400 {
        --color-base: var(--color-grey-400);
    }

    --color-grey-500: #6A778A;
    .color-grey-500 {
        --color-base: var(--color-grey-500);
    }

    --color-grey: #6B7380;
    .color-grey {
        --color-base: var(--color-grey);
    }

    .color-grey-600 {
        --color-base: var(--color-grey);
    }

    --color-grey-700: #384152;
    .color-grey-700 {
        --color-base: var(--color-grey-700);
    }

    --color-grey-800: #202938;
    .color-grey-800 {
        --color-base: var(--color-grey-800);
    }

    --color-grey-dark: #273D56;
    .color-grey-dark {
        --color-base: var(--color-grey-dark);
    }

    --color-black: #000000;
    .color-black {
        --color-base: var(--color-black);
    }
}